.homepage_container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 15rem;
    .top_section {
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        left: 15rem;
        height: 2rem;
        padding: 2rem 2.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .buttons {
            width: 5rem;
            height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .button_container {
                width: 2rem;
                height: 2rem;
                background-color: #191919;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .search_container {
            padding-left: 3rem;
            .search_input {
                border: 0;
                border-radius: 500px;
                color: #000;
                height: 2.2rem;
                padding: .2px 3.5rem;
                text-overflow: ellipsis;
                width: 100%;
                font-size: .9rem;
                font-weight: 400;
                letter-spacing: normal;
                line-height: 1rem;
                text-transform: none;
            }
        }
        
        .profile_premium {
            position: absolute;
            right: 3rem;
            width: 19rem;
            display: flex;
            justify-content: space-between;
            .pp_button {
                border: 1px solid rgba(255, 255, 255,.4);
                background-color: rgba(0, 0, 0, .2);
                border-radius: 100px;
                color: #fff;
            }
            .profile_button {
                padding: .5rem 2.5rem;
                font-weight: 600;
                font-size: .85rem;
            }
            .premium_button {
                width: 8.5rem;
                position: relative;
                padding: .3rem 1.1rem;
                padding-left: 2.15rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg {   // Bu icon neden sıkıntılı lan
                    position: relative;
                    bottom: .25rem;
                }
                img {
                    position: absolute;
                    left: 0;
                    width: 1.6rem;
                    height: 90%;
                    border-radius: 50%;
                }
            }
        }
    }
    .global_playlists {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        .playlists {
            padding-top: 6rem;
            width: 100%;
            overflow-x: hidden;
            .playlist {
                width: 100%;
                height: 21rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // background-color: #da4453;
                margin-bottom: 3rem;
                padding: .2rem;
                padding-left: 2.5rem;
                .header {
                    font-size: 1.25rem;
                    flex-basis: 15%;
                    span {
                        padding-top: .2rem;
                        padding-bottom: 1rem;
                    }
                }
                span {
                    display: block;
                    font-weight: 400;
                    font-size: .9rem;
                    color: hsl(0, 0%, 67%);
                    padding-top: -1rem;
                }
                .boxes {
                    flex-basis: 85%;
                    display: flex;
                    justify-content: flex-start;
                    gap: 2rem;
                    .box {
                        width: 12rem;

                        height: 100%;
                        background-color: rgb(51, 51, 51,.15);
                        padding: 1rem;
                        border-radius: 5px;
                        .image {
                            min-width: 160px;
                            min-height: 160px;
                            position: relative;
                            width: 100%;
                            height: 10rem;
                            .play_icon {
                                position: absolute;
                                bottom: .75rem;
                                right: .75rem;
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;
                                background-color: #1ed260;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
                                svg {
                                    position: relative;
                                    left: .1rem;
                                }
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .playlist_name {
                            padding-top: .7rem;
                            font-weight: 700;
                            font-size: 1rem;
                        }
                        .playlist_dsc {
                            display: block;
                            padding-top: .4rem;
                            font-weight: 400;
                            font-size: .9rem;
                            color: rgba(221, 221, 221,.7);
                        }
                    }
                }
            }
        }
    }
}